---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Emails from "../components/Emails.astro";
import FeaturedProducts from "../components/FeaturedProducts.astro";
import NewsletterDialog from "../components/NewsletterDialog.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        width: 100%;
      }
      .home-description {
        font-size: 0.8em;
        margin: var(--margin-full);
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <FeaturedProducts />
      <Emails />
      <p class="home-description">
        {SITE_TITLE} is a purveyor of fine RPG products, production, and web experiences.
        We specialize in old school or traditional roleplaying adventures, and love
        a system with a generous or open 3rd party license - think Dungeon Crawl
        Classics, Old School Essentials, or Cthulhu Eternal.
      </p>
      <NewsletterDialog />
    </main>
    <Footer />
  </body>
</html>
---

