---
const { link, title } = Astro.props;
---

<div class="drive-thru-embed">
  <a href={link} target="_blank" rel="noopener noreferrer">
    <img
      src="/dtrpg-logo-small.png"
      alt={`Buy ${title} on DriveThruRPG`}
      height="36"
      width="206"
    />
  </a>
</div>
