---
import Menu from "./Menu.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import Twg from "../assets/twg.png";
---

<header>
  <nav>
    <div class="logo-and-title">
      <a href="/">
        <Image
          src={Twg}
          alt="A weird little guy for my weird little guys"
          height="86"
          width="70"
        /></a
      >
      <h1><a href="/">{SITE_TITLE}</a></h1>
    </div>
    <Menu />
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }

  h1 {
    display: none;
  }

  @media (min-width: 400px) {
    h1 {
      display: block;
      margin: 0;
      font-size: 1em;
    }
    h1 a,
    h1 a.active {
      transition: text-shadow 0.5s;
      text-decoration: none;
    }

    h1 a:hover {
      text-shadow: 0px 1px 0px var(--accent);
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-and-title {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
  }

  .logo-and-title a {
    display: flex;
  }
  .logo-and-title img:hover {
    transform: rotate(45deg);
    transition: transform 2s;
  }
  nav a {
    padding: 0 0.5em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
