---
import { Image } from "astro:assets";
import ItchBadge from "../assets/itchbadge.svg";
const { link, title } = Astro.props;
---

<div class="itch-link">
  <a href={link} target="_blank" rel="noopener noreferrer">
    <Image src={ItchBadge} alt={`Buy ${title} on Itch.io`} width="200" />
  </a>
</div>
